* {
  box-sizing:border-box;
  text-align:center;
}

figure {
  display:inline-block;
  vertical-align:top;
  margin:0px;
  max-width:920px; /*how wide the image is*/
  position:relative;
  overflow:hidden;
}

img {
  display:block;
}

p.title{
  font-style: italic;
  text-align:center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 30px;
}

p.title2{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align:center;
  /* margin-top: 90px; */
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
  font-size: 20px;
}

p.tit{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align:center;
  font-size: 100px;
}

p.tit2{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align:center;
  margin-bottom: 150px;
  font-size: 100px;
}

p.paragraph{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align:center;
  /* margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: -200px; */
}

p.paragraph2{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  /* margin-top: 100px;
  margin-bottom: 75px;
  margin-right:-175px;
  margin-left: 80px; */
}

p.paragraph3{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  /* margin-top: 100px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: -175px; */
}

/*code for actual caption such as color, margin, etc*/
.fade figcaption {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  color:white;
  font-size: 40px;
  line-height:40px; /*spacing between the lines of the caption*/
  background: rgba(0,0,0,0);
}



/*how transparent the image is*/
.fade figcaption {
  background: rgba(0,0,0,0.5);
  opacity:0;
  transition:opacity 0.5s ease;
}

.fade figcaption:hover {
  opacity:1;
}
