* {
  box-sizing:border-box;
  text-align:center;
}

figure {
  display:inline-block;
  vertical-align:top;
  margin:0px;
  max-width:920px; /*how wide the image is*/
  position:relative;
  overflow:hidden;
}

img {
  display:block;
}

p.title{
  font-style: italic;
  text-align:center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 30px;
}

p.title2{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align:center;
  /* margin-top: 90px; */
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
  font-size: 20px;
}

p.tit{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align:center;
  font-size: 100px;
}

p.tit2{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align:center;
  margin-bottom: 150px;
  font-size: 100px;
}

.paragraph{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  /* text-align:left; */
  /* line-height:1.6; */
  width: 320px;
  padding: 10px;
  border: 5px hidden;
  margin: 0;
  text-align: justify;
  position: 0;
  /* float: left; */
  /* margin-top: 100px;
  margin-bottom: 100px; */
  /* margin-right: 150px; */
  /* margin-left: 50px; */
}

p.paragraph2{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  /* text-align:right; */
  /* line-height:1.6; */
  text-align: justify;
  width: 320px;
  padding: 10px;
  border: 5px hidden;
  margin: 0;
  position: absolute;
  bottom: 8px;
  right: 16px;
  /* float: right; */
  /* margin-top: 100px;
  margin-bottom: 40px;
  margin-right: 150px;
  margin-left: 80px; */
}

p.paragraph3{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  /* text-align:left; */
  width: 320px;
  padding: 10px;
  border: 5px hidden;
  margin: 0;
  /* line-height:1.6; */
  text-align: justify;
  /* margin-top: 100px;
  margin-bottom: 30px;
  margin-right: 150px; */
  /* margin-left: 50px; */
}

img.photo{
  margin-top: 100px;
  margin-bottom: 40px;
  margin-right: 150px;
  margin-left: 80px;
}

img.photo2{
  margin-top: 100px;
  margin-bottom: 40px;
  margin-right: 150px;
  margin-left: 80px;
}

img.photo3{
  margin-top: 100px;
  margin-bottom: 40px;
  margin-right: 150px;
  margin-left: 80px;
}
/*code for actual caption such as color, margin, etc*/
.fade figcaption {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  color:white;
  font-size: 40px;
  line-height:40px; /*spacing between the lines of the caption*/
  background: rgba(128,128,128);
}



/*how transparent the image is*/
.fade figcaption {
  background: rgba(0,0,0,0.5);
  opacity:0;
  transition:opacity 0.5s ease;
}

.fade figcaption:hover {
  opacity:1;
}
